#root {
  height: 100%
}

body{
  height: 100%;
  background-color: #f7f7f7 !important;
}

html{
  height: 100%;
}

a:hover {
  text-decoration: none;
}

section {
  min-height: 100vh;
}

.MuiTooltip-tooltip {
  background-color: black;
}

.MuiTooltip-arrow {
  color: black;
}

/* Colores oficiales Cleverlynk */
:root {
  --color-1: #1d2c3e;
  --color-2: #02f7bf;
}

.leaflet-control-layers-toggle {
  display: none;
}

.z-modal {
  z-index: 9999;
  position: relative;
}

.bg-color-1 {
  background-color: var(--color-1);
}
.bg-color-2 {
  background-color: var(--color-1);
}
.bg-color-3 {
  background-color: var(--color-1);
}

.bg-color1 {
  background-color: rgb(169, 255, 169);
}
.bg-color2 {
  background-color: rgb(230, 230, 230);
}

.h-33 {
  height: 33.33vh;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.h-all {
  min-height: 100vh;
}

h1 {
  font-family: sans-serif;
  font-weight: bolder;
}
h2,
h3,
h4,
h5,
h6,
label,
p {
  font-family: sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 5rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1rem;
}
h5 {
  font-size: 0.5rem;
}

p,
span,
a,
button {
  font-family: sans-serif;
}

.nav-item,
.navbar-nav {
  display: inline-block;
}

.nav-link {
  font-weight: bold;
  color: black;
}

.nav-link:hover {
  color: #3d82c1;
}

.home-bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.btn-home {
  border: none;
  border-radius: 30px;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 20pt;
}

.btn-form {
  border: none;
  border-radius: 10px;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.bg-nav-1 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.bg-nav-2 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.bg-nav-3 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.alpha-75 {
  opacity: 0.75;
  filter: alpha(opacity=75); /* For IE8 and earlier */
}

.rounded-20 {
  border-radius: 20px;
}
.rounded-50 {
  border-radius: 50px;
}
.rounded-circle {
  border-radius: 100%;
}

.leaflet-container {
  width: 100%;
  height: 50vh;
}

.btn-border-white {
  border-radius: 5px;
  border: solid 1px white;
  background-color: transparent;
}

.vertical-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.swal-wide {
  width: 99%;
}

.button-add {
  border: #3d82c1 dashed 1px;
  background-color: white;
}

.btn-borderless {
  border: none;
  background: none;
}

.checkbox label {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.9);
  border: 2px solid rgba(139, 139, 139, 0.3);
  color: #adadad;
  border-radius: 25px;
  white-space: nowrap;
  margin: 3px 0px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  transition: all 0.2s;
  padding: 8px 12px;
  cursor: pointer;
}

.checkbox label::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 12px;
  padding: 2px 6px 2px 2px;
  content: "\f067";
  transition: transform 0.3s ease-in-out;
}

.checkbox input[type="checkbox"]:checked + label::before {
  content: "\f00c";
  transform: rotate(-360deg);
  transition: transform 0.3s ease-in-out;
}

.checkbox input[type="checkbox"]:checked + label {
  border: 2px solid #517496;
  background-color: #2e5176;
  color: #fff;
  transition: all 0.2s;
}

.checkbox input[type="checkbox"] {
  display: absolute;
  position: absolute;
  opacity: 0;
}

.checkbox input[type="checkbox"]:focus + label {
  border: 2px solid #070a33;
}
/* End - Checkbox Styles*/

/* Start - Loading Screen CSS */
#loading-panel {
  background-color: rgba(255, 255, 255, 0.75);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

#loading-spinner {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 50%;
}
/* End - Loading Screen CSS */

/* Start - Footer CSS */

/* End - Footer CSS */

/* Extra Small */
@media (min-width: 0px) {
  .w-xs-100 {
    width: 100%;
  }
  .w-xs-75 {
    width: 75%;
  }
  .w-xs-50 {
    width: 50%;
  }
  .w-xs-25 {
    width: 25%;
  }
}
/* Small */
@media (min-width: 576px) {
  .w-sm-100 {
    width: 100%;
  }
  .w-sm-75 {
    width: 75%;
  }
  .w-sm-50 {
    width: 50%;
  }
  .w-sm-25 {
    width: 25%;
  }
}

/* Medium */
@media (min-width: 768px) {
  .w-md-100 {
    width: 100%;
  }
  .w-md-75 {
    width: 75%;
  }
  .w-md-50 {
    width: 50%;
  }
  .w-md-25 {
    width: 25%;
  }
}

/* Large */
@media (min-width: 992px) {
  .w-lg-100 {
    width: 100%;
  }
  .w-lg-75 {
    width: 75%;
  }
  .w-lg-50 {
    width: 50%;
  }
  .w-lg-25 {
    width: 25%;
  }
  .w-lg-15 {
    width: 15%;
  }
  .w-lg-10 {
    width: 10%;
  }
}

/* Extra Large */
@media (min-width: 1200px) {
  .w-xl-100 {
    width: 100%;
  }
  .w-xl-75 {
    width: 75%;
  }
  .w-xl-50 {
    width: 50%;
  }
  .w-xl-25 {
    width: 25%;
  }
}

div.templates-list-table {
  background-color: white;
  margin-top: 30px;
}

