body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
      "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  }
  #tokenCard {
    width: 0px;
    height: 0px;
    font-size: 0;
  }
  .escondame-este {
    opacity: 0;
    width: 0px;
    height: 0px;
    font-size: 0;
  }
  
  ::-webkit-scrollbar {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 6px;
    height: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #18181914;
    border-radius: 0px;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #18181929;
  }
  
  .rdrInRange,
  .rdrStartEdge,
  .rdrEndEdge {
    color: inherit !important;
  }
  